- name: Check if NVM exists
  command: which nvm
  register: nvm_exists
  failed_when: nvm_exists.rc > 1
  changed_when: nvm_exists.rc == 1

- name: Download and install NVM
  shell: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  when: nvm_exists.rc == 1
