- name: Check if zoom is installed
  command: dpkg-query -W zoom
  register: zoom_deb
  failed_when: zoom_deb.rc > 1
  changed_when: zoom_deb.rc == 1

- name: Download zoom_deb
  get_url: url="https://zoom.us/client/latest/zoom_amd64.deb"
    dest="/{{ lookup('env','HOME') }}/Downloads/zoom.deb"
  when: zoom_deb.rc == 1

- name: Install zoom_deb
  apt: deb="/{{ lookup('env', 'HOME') }}/Downloads/zoom.deb"
  become: yes
  become_method: sudo
  when: zoom_deb.rc == 1

- name: Check if vs-code is installed
  command: dpkg-query -W code
  register: vscode_deb
  failed_when: vscode_deb.rc > 1
  changed_when: vscode_deb.rc == 1

- name: Download vscode_deb
  get_url:
    url="https://update.code.visualstudio.com/latest/linux-deb-x64/stable"
    dest="/{{ lookup('env','HOME') }}/Downloads/code.deb"
  when: vscode_deb.rc == 1

- name: Install vscode_deb
  apt: deb="/{{ lookup('env', 'HOME') }}/Downloads/code.deb"
  become: yes
  become_method: sudo
  when: vscode_deb.rc == 1

- name: Check if postman exists
  stat:
    path: /usr/local/bin/postman
  register: has_postman

- name: Download postman
  get_url: url="https://dl.pstmn.io/download/latest/linux64"
    dest="/{{ lookup('env','HOME') }}/Downloads/Postman.tar.gz"
  when: not has_postman.stat.exists

- name: Extract Postman.tar.gz to opt
  unarchive: src="/{{ lookup('env','HOME') }}/Downloads/Postman.tar.gz"
    dest="/opt"
  become: yes
  become_method: sudo
  when: not has_postman.stat.exists

- name: Create symlinks for Postman
  file:
    src: "/opt/Postman/Postman"
    dest: "/usr/local/bin/postman"
    state: link
    force: yes
  become: yes
  when: not has_postman.stat.exists
