- name: Install docker dependencies
  become: yes
  become_method: sudo
  apt:
    name: "{{ item }}"
    state: "latest"
    update_cache: yes
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common

- name: add docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: get the current ubuntu version
  shell: lsb_release -cs
  register: ubuntu_name

- name: add docker apt repository
  apt_repository:
    repo: "deb https://download.docker.com/linux/ubuntu {{ ubuntu_name.stdout}} stable"
    state: present

- name: install docker, cli and containerd.io
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io

- name: Non-root docker privelage
  become: yes
  become_method: sudo
  command: usermod -aG docker {{ lookup('env','USER') }}
