- name: Check if Neovim is already installed
  stat:
    path: /opt/nvim/bin/nvim
  register: nvim_bin

- name: Download Neovim tar.gz
  get_url:
    url: https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
    dest: /tmp/nvim-linux-x86_64.tar.gz
    mode: "0644"
  when: not nvim_bin.stat.exists

- name: Remove old Neovim installation
  file:
    path: /opt/nvim
    state: absent
  become: yes
  when: not nvim_bin.stat.exists

- name: Create /opt/nvim directory
  file:
    path: /opt/nvim
    state: directory
    mode: "0755"
  become: yes
  when: not nvim_bin.stat.exists

- name: Extract Neovim
  unarchive:
    src: /tmp/nvim-linux-x86_64.tar.gz
    dest: /opt/nvim
    remote_src: yes
    extra_opts: [--strip-components=1]
  become: yes
  when: not nvim_bin.stat.exists

- name: Ensure nvim is globally available
  file:
    src: /opt/nvim/bin/nvim
    dest: /usr/local/bin/nvim
    state: link
  become: yes
