- name: Check if Neovim is installed
  command: nvim --version
  register: nvim_check
  ignore_errors: yes
  changed_when: false

- name: Download Neovim tar.gz
  get_url:
    url: https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
    dest: "{{ lookup('env','HOME') }}/Downloads/nvim-linux-x86_64.tar.gz"
  when: nvim_check.rc != 0

- name: Check if /opt/nvim exists
  stat:
    path: /opt/nvim
  register: nvim_dir

- name: Remove old Neovim installation if it exists
  file:
    path: /opt/nvim
    state: absent
  become: yes
  when: nvim_dir.stat.exists

- name: Ensure /opt/nvim directory exists
  file:
    path: /opt/nvim
    state: directory
    mode: "0755"
  become: yes
  when: nvim_check.rc != 0

- name: Extract Neovim
  unarchive:
    src: "{{ lookup('env','HOME') }}/Downloads/nvim-linux-x86_64.tar.gz"
    dest: /opt/nvim
    remote_src: yes
    extra_opts: [--strip-components=1]
  become: yes
  when: nvim_check.rc != 0

- name: Ensure Neovim bin path is in bashrc
  lineinfile:
    path: "{{ lookup('env','HOME') }}/.bashrc"
    line: 'export PATH="$PATH:/opt/nvim/bin"'
    state: present
  when: nvim_check.rc != 0
