
@define-color shadow #000000;
@define-color on_primary #55200c;
@define-color blur_background rgba(26, 17, 15, 0.8);

/*=== GLOBAL STYLES ===*/
* {
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background: @blur_background;
	font-size: 16pt;
}

/*=== COMMON BUTTON STYLES ===*/
button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	background-color: rgba(200, 220, 255, 0.1);
	animation: gradient_f 20s ease-in infinite;
	border-radius: 80px;
	border:0px;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus {
  background-size: 22%;
	border: 0px;
}

button:hover {
  background-color: @on_primary;
	opacity: 0.8;
  color: #cdd6f4;
  background-size: 30%;
  margin: 30px;
  border-radius: 80px;
  box-shadow: 0 0 50px @shadow;
}

button span {
  font-size: 1.2em; /* Increase the font size */
}

/*=== INDIVIDUAL BUTTON STYLES ===*/
#lock, #logout, #suspend, #shutdown, #hibernate, #reboot {
  margin: 10px;
	border-radius: 20px;
}

#lock {
  background-image: image(url("/home/fm-pc-lt-227/.config/artificats/icons/lock.png"));
}

#logout {
  background-image: image(url("/home/fm-pc-lt-227/.config/artificats/icons/logout.png"));
}

#suspend {
  background-image: image(url("/home/fm-pc-lt-227/.config/artificats/icons/suspend.png"));
}

#shutdown {
  background-image: image(url("/home/fm-pc-lt-227/.config/artificats/icons/shutdown.png"));
}

#hibernate {
  background-image: image(url("/home/fm-pc-lt-227/.config/artificats/icons/hibernate.png"));
}

#reboot {
  background-image: image(url("/home/fm-pc-lt-227/.config/artificats/icons/reboot.png"));
}
